app = "estimated-delivery-date"
primary_region = "nrt"

[build]

[env]
  PORT = "3000"
  DATABASE_URL = "file:/data/dev.sqlite"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1

[mounts]
  source = "data"
  destination = "/data"
